<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">
            <img class="imgUser" [src]="user.avatar_url" alt="Imagem do Perfil"><a class="text-white" href="{{ user.html_url }}">{{ user.name }}</a>
          </h4>
          <p class="text-white">{{ user.bio }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <img class="header-icon" src="/assets/img/header-icon.png" alt="Star Wars">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
