<div class="container lista-filmes">
  <div class="row">
    <div class="col-md-4" *ngFor="let m of movies">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">{{m.title }}</h5>
          <blockquote class="blockquote">
            <p class="mb-0 card-text">{{ m.opening_crawl }}</p>
            <footer class="blockquote-footer">Director: <cite title="Source Title">{{ m.director }}</cite> and Producer <cite title="Source Title">{{ m.producer }}</cite></footer>
          </blockquote>
          <a (click)="detalhes(m)" class="btn btn-primary">Synopsis</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="detalhes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{movie?.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ movie?.opening_crawl }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

