.lista-filmes{
  margin-top: 5%;
}
.card{
  margin-top: 10%;
  border: none;
  box-shadow:2px 2px 10px rgba(170, 170, 170, 0.3); border:none;
}
.card:hover{
  box-shadow: 0px 0px 18px .9px #ebd800;
}
.card-text{
  max-width: 100ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn{
  border: 1px solid rgba(170, 170, 170, 0.8);
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
}
.btn:hover{
  box-shadow: 0px 0px 18px .9px #ebd800;
}
.card a{
  color: #ffffff;
}

